<div class="container center">
  <footer class="footer">
    <div class="row">
      <div class="col-md-12 ">
        <p>ExChange Developed by: <%= link_to 'Shakti Gurung', 'www.shaktigurung.info' %></p>
      </div>
    </div>
  </footer>
</div>